ul li {
    position: relative;
    list-style-type: decimal;
}

.test {
    height: 17px;
    width: 7px;
    border-radius: 50%;
    display: inline-block;
}

.closing {
    margin-top: -0% !important;
    float: right !important;
    font-size: 17px;
    opacity: .5 !important;
    margin-right: 8%;
}

.closing:after {
    content: "X";
    font-size: 1em;
    color: #07fdfa;
    margin-left: 100%;
    cursor: pointer;
}

.linea::after {
    content: '|';
    font-size: 4px;
    min-height: 100%;
    color: #07fdfa;
    margin-left: 100%;
    cursor: pointer;
}

.circulo {
    padding: 5px;
    width: 40px;
}

.flecha {
    height: auto;
    margin-top: -25px;
    padding-left: 13px;
    padding-right: 15px;
    width: 40px;
}

.linea {
    border-left: 1.1px solid #b6d6d9;
    border-right: 1.1px solid #81b8be;
    margin: 0 18px;
    padding: 0;
    width: 0px;
    min-height: 100%;
}

.circle {
    width: 50%;
    height: 0;
    font-size: 10px;
    color: #fff;
    text-align: center;
    line-height: 0;
    padding: 25% 0;
    border-radius: 50%;
    transform: scale(0.04);
    background: #09f;
}

.comentario__txtarea {
    margin: 0px;
    height: 83px;
    width: 323px;
    margin-bottom: 20px;
}

.adjuntar__archivo {
    color: white;
    font-size: 13px;
    float: right;
    background-color: #0f7099;
    border-radius: 5px;
    text-decoration: none;
    border: thin;
    padding-top: 3px;
    padding-bottom: 5px;
}

.adjuntar__archivo:focus {
    outline: none;
}

.list__item {
    width: 60%;
    font-size: 13px;
}

.comentario {
    color: #244353;
    text-decoration: none !important;
}

.comentario:focus {
    outline: none;
}

.comentario:hover {
    color: #244353;
}

.listaDeArchivos {
    margin-top: 2%;
    padding: inherit;
}

/* Comentarios Ocultar */

/* Animacion para efecto de entrada */

@keyFrames fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* .comentario__txtarea, .show, .hide:target {
    display: none;
}

.hide:target+.show, .hide:target~.comentario__txtarea {
    display: block;
    animation: fadein 1s;
} */

.espaciado {
    margin-bottom: 10%;
}

.mostrarComentarios {
    display: block;
}

.ocultarComentarios {
    display: none;
}